.footer-top-section{
    width: 90%;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.newsletter-section{
    background-color: #5a5a5a,
}
.newsletter-section h5{
    text-align: left;
    font-weight: 600;
    color:#2b5c77; 
    padding-top:5px; 
    font-size:23px;
} 
.newsletter-section-div{
    display: flex;
}
.newsletter-section-div input{
    width: 300px;
    background-color: #bebcbc;
    color: black;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 5px 10px;
}
.newsletter-section-div input::placeholder{
    color: white;
}
.newsletter-section-div button{
    background-color: transparent;
    border-radius: 0px 6px 6px 0px;
    border: none;
    outline: none;
}
.section__padding{
    padding: 3rem 4rem;
}
.footer{
    background-color: #f6f8e4;
    margin-top: 30px;
    padding-top: 20px;
    /* color: #5a5a5a; */
}
.sb__footer{
    display: flex;
    flex-direction: column;
    margin-bottom: -80px;
}
.sb__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    text-align: left;
    margin: auto;
    margin-bottom: 2rem;
   
}
.sb__footer-links_div{
    width: 150px;
    /* margin: 1rem; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: black;
}



a{
    color: rgb(77, 77, 77);
    text-decoration: none;
    line-height: 15px;
}

.sb__footer-links_div h4{
    font-size: 16px;
    line-height: 1px;
    margin-bottom: 2rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}
.sb__footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
    padding: 0px 60px 0px 60px;
}

.sb__footer-below-links{
    display: flex;
    flex-direction: row;
}

.sb__footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    font-weight: 600;
    color: black;
}

hr{
    color: rgb(0, 0, 0) !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.sb__footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

@media screen and (max-width:850px){
    .sb__footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}
@media screen and (max-width:550px){
    .sb__footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .sb__footer-links div{
        margin: 1rem 0;
    }
    .sb__footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }
    .sb__footer-below{
        flex-direction: column;
        justify-content: left;
    }
    .sb__footer-below-links{
        flex-direction: column;
    }
    .sb__footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}
@media screen and (max-width:400px){
    .sb__footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}


