.about-us-first-div{
    width: 95%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;

}
.about-us-first-div-left{
    width: 60%;
    /* background-color: rgba(233, 233, 233, 0.781); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 20px;
}
.about-us-first-div-left h2{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.about-us-first-div-left p{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: grey;
    padding-top: 20px;
    line-height: 1.8rem;
}
.about-us-first-div-right{
    width: 33%;
    border: 1px solid red;
}

.about-us-second-div{
    width: 70%;
    margin: auto;
    border: 1px solid red;
}
.about-us-second-div-block{
    width: 100%;
    height: 30vh;
    border: 1px solid red;
}