.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOMEPAGE-TOPCATEGORY */
.main-div {
  width: 100%;
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex: wrap;
}
.main-div-product {
  width: 170px;
  /* height: 220px; */
  border: 1px solid transparent;
  margin-right: 30px;
  margin-bottom: 20px;
}
.main-div-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main-div-image img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.main-div-product p {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0px;
  text-shadow: 0px 0px 1px black;
}

/* NAVBAR */
.search-box {
  width: 50%;
  border: 1px solid transparent;
  margin: auto;
}
.mic-button {
  margin-left: -10px;
  border: 1px solid #0e5167;
  border-radius: 0px 30px 30px 0px;
  color: white;
  background: #0e5167;
}
.right-section {
  padding: 4px 10px;
  margin-left: 5px;
  border-radius: 5px;
  font-weight: 600;
  /* border: 1px solid red; */
}
.dropdown-menu.show {
  display: block;
  width: 180px;
}
.dropdown-item{
  padding: 0px 7px;
}

@media (max-width: 992px) {
  .search-box {
    width: 50%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
  }
  .me-auto {
    margin-right: auto !important;
    width: 50%;
    margin: auto;
  }
  .right-section {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-size: auto;
    margin: auto;
  }
  .buyer-seller{
    width: 10%;
    margin: auto;
    padding: 20px 0px;
  }
  .product-Menu{
    width: 0px;
    display: none;
  }
  .Help-Center{
    width: 100%;
    margin: auto;
  }
  
}
/* HEADER */
ul.slick-dots {
    bottom: 10px;
}
ul.slick-dots li button::before {
  font-size: 13px;
  color: white;
}
.Banner-Section{
  width: 60%;
  height: 380px;
  padding:"0px 20px";
  border:"1px solid blue"
}
.Banner-Section-Image{
  width: 100%;
  height: 380px;
}
.Easy-Ticker{
  width: 50%;
  height: 380px;
  border: 1px solid transparent;
}
.Easy-Ticker-Main-Div{
  height: 315px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px){
  .Header-1{
    display: flex;
    flex-wrap: wrap ;
  }
  .Banner-Section{
    width: 100%;
    margin: auto;
    border: 1px solid transparent;
  }
  .Banner-Section-Image{
    width: 100%;
  }
  .Easy-Ticker{
    width: 100%;
    margin: auto;
  }
  .Easy-Ticker-Main-Div{
    width: 70%;
    margin: auto;
  }
}

/* FORM */
.HomePage-Form{
  width: 100%;
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
}
.HomePage-Form-Left{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0px;
}
.HomePage-Form-Right{
  width: 33%;
}
.HomePage-Form-Left-Div{
  width: 45%;
  height: 28vh;
  background-color: #fafafa;
  margin: auto;
  border-radius: 10px;
  padding: 15px 0px;
  box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.1);
}
.HomePage-Form-Left-Div img {
 width: 80%;
 height: 70%;
}
.HomePage-Form-Left-Div p {
  font-size: 16px;
  padding-top: 12px;
 }

@media (max-width:768px){
  .HomePage-Form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .HomePage-Form-Left{
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
  }
  .HomePage-Form-Right{
    margin: auto;
    width: 75%;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
} 