.body{
  overflow-x: none;
}
/* Sub Category Page */
.category-page {
  padding: 20px;
  width: 91%;
  margin: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 5px;
}

.product-image {
  width: 95%;
  height: auto;
  transition: transform 0.3s;
  border-radius: 5px;
}

.product-title {
  position: absolute;
  bottom: 10px;
  left: 35%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  transition: opacity 0.3s;
  opacity: 0;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card:hover .product-image {
  transform: scale(1.1);
}

.product-card:hover .product-title {
  opacity: 1;
}

/* Sub Category Page */

/* TopCategory */
.top-category{
  width:90%; 
  margin:auto; 
  height:auto;  
  display:flex; 
  flex-wrap:wrap; 
  justify-content:space-evenly; 
  gap:30px;
}

.Wrapper {
  height: 250px;
  width: 250px;
  transform-style: preserve-3d;
  perspective: 1000px;
  padding-top: 6px;
}

.Wrapper .Card {
  position: absolute;
  height: auto;
  width: 100%;  
  border-radius: 10px;
  
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}


.Wrapper .Card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}



.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-slider {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.image-slider img:hover {
  transform: scale(1.1);
}

.product-details {
  margin-left: 20px;
}

.product-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.buyer-seller {
  color: #777;
  font-size: 14px;
  margin-bottom: 5px;
}

.quantity {
  font-size: 14px;
}

/* TopCategory*/

/* Practise Page */
.category-page {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  color: #333;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.category-card {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover img {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card h3 {
  font-size: 18px;
  margin-bottom: 0;
  color: #333;
  transition: color 0.3s;
}

.category-card:hover h3 {
  color: #ff5722;
}


.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* HOVER */

/* HOVER */

/* NAVBAR */
.search-box {
  width: 50%;
  border: 1px solid transparent;
  margin: auto;
}
.mic-button {
  margin-left: -10px;
  border: 1px solid #0e5167;
  border-radius: 0px 30px 30px 0px;
  color: white;
  background: #0e5167;
}
.right-section {
  padding: 4px 10px;
  margin-left: 5px;
  border-radius: 5px;
  font-weight: 600;
  /* border: 1px solid red; */
}
.dropdown-menu.show {
  display: block;
  width: 180px;
}
.dropdown-item {
  padding: 0px 7px;
}
a.mx-2.right-section.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Navbar Category */
.menu-list li{
  font-weight: 500;
  line-height: 1.3rem;
}
.menu-list li:hover{
  background-color: rgb(239, 239, 239) !important;
}
@media (max-width: 992px) {
  .search-box {
    width: 50%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
  }
  .me-auto {
    margin-right: auto !important;
    width: 50%;
    margin: auto;
  }
  .right-section {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-size: auto;
    margin: auto;
  }
  .buyer-seller {
    width: 10%;
    margin: auto;
    padding: 20px 0px;
  }
  .product-Menu {
    width: 0px;
    display: none;
  }
  .Help-Center {
    width: 100%;
    margin: auto;
  }
}
/* HEADER */
/* first change */
ul.slick-dots {
  bottom: 10px;
}
ul.slick-dots li button::before {
  font-size: 13px;
  color: white;
}

.Banner-Section {
  width: 60%;
  /* height: 380px; */
  padding: "0px 20px";
  border: "1px solid blue";
}
.Banner-Section-Image {
  width: 100%;
  /* height: 380px; */
}
.Easy-Ticker {
  width: 50%;
  height: 380px;
  border: 1px solid transparent;
}
.Easy-Ticker-Main-Div {
  height: 315px;
  position: relative;
  overflow: hidden;
}
button.menu-button {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .Header-Banner-Ticker{
    flex-direction: column !important;
  }
  .Header-1 {
    display: flex;
    flex-wrap: wrap;
  }
  .Banner-Section {
    width: 90% !important;
    margin: auto;
    border: 1px solid transparent;
  }
  .Easy-Ticker {
    width: 90% !important ;
    margin: auto;
  }
  .Easy-Ticker-Main-Div {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 440px) {
  .Banner-Section {
    width: 85% !important;
    margin: auto;
    border: 1px solid transparent;
  }
  .Easy-Ticker {
    width: 80% !important ;
    margin: auto;
  }
  .Easy-Ticker-Main-Div {
    width: 90%;
    margin: auto;
  }
}
/* first change */
/* FORM */
.HomePage-Form {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
}
.HomePage-Form-Left {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0px;
}
.HomePage-Form-Right {
  width: 33%;
}
.HomePage-Form-Left-Div {
  width: 45%;
  height: auto;
  background-color: #fafafa;
  margin: auto;
  border-radius: 10px;
  padding: 15px 0px;
  box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.1);
}

.HomePage-Form-Left-Div p {
  font-size: 16px;
  padding-top: 12px;
}

@media (max-width: 768px) {
  .HomePage-Form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .HomePage-Form-Left {
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
  }
  .HomePage-Form-Right {
    margin: auto;
    width: 75%;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

@media (max-width:526px) {
  .HomePage-Form-Left-Div img{
    height: 80px !important;
    width: 80px !important;
  }
}

/* AboutMeSlider */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 16px 40px 16px;
}

.about-me img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
}

.paragraph-slider {
  overflow: hidden;
  height: 100px;
 
  width: 100%;
}

.paragraph-slider p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 10px;
  height: auto;
  animation: slide 7s infinite;
  width: 80%;
  margin: auto;
}

@keyframes slide {
  0% {
    transform: translateY(10%);
  }
  25% {
    transform: translateY(-70%);
  }
  50% {
    transform: translateY(-150%);
  }
  75% {
    transform: translateY(-190%);
  }
  100% {
    transform: translateY(-230%);
  }
}

/* CtgCategory */
.ctg-agriculture {
  width: 90%;
  background: #d6d6d6;
  text-align: left;
  padding: 12px 100px 12px 30px;
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
}
.ctg-agriculture-main-div{
  width: 90%;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ctg-agriculture-main-div-card{
  width: 100%;
  /* border: 1px solid red; */
  padding: 20px 0px 10px 0px;
  margin: auto;
}
@media (max-width:768px){
  .ctg-agriculture-main-div-card{
    width: 40%;
  }}